[Unit]
Description=Pi5 Observatory Dashboard
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/carlobeni/tesis/pi5-observatory
Environment=PYTHONPATH=/home/carlobeni/tesis/pi5-observatory
ExecStart=/home/carlobeni/.cache/pypoetry/virtualenvs/zwo-camera-test-WMouhAc9-py3.12/bin/python -m app.main
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
